<div class="banner">
  <div class="container">
    phiên bản less v{{less.version}} đã được phát hành -
    <strong>
      <a href="{{less.master}}CHANGELOG.md">Hãy khám phá ngay</a>
    </strong>
  </div>
</div>
